#h2_intro, #submit{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}
#sort{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#combine_sentances,#combine_sentances2{
   margin: 100px; 
}